<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Site</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pages.each do |page| %>
  <tr>
    <td><%= page.title %></td>
    <td><%= page.site_id %></td>
    <td><%= link_to 'Show', admin_site_page_path(params[:site_id], page) %></td>
    <td><%= link_to 'Edit', edit_admin_site_page_path(params[:site_id], page) %></td>
    <td><%= link_to 'Destroy', admin_site_page_path(params[:site_id], page), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page', new_admin_site_page_path(params[:site_id]) %>
