<p id="notice"><%= notice %></p>

<div class='unit size2of3'>
  <div class='mod bigPic complex flow'>
    <b class='top'>
      <b class='tl'></b>
      <b class='tr'></b>
    </b>
    <div class='inner'>
      <div class='hd section'>
        <h2>
        <%= @page.title %> <%= mark_default @page, "(default)" %>
        </h2>
        <p>
          <strong>Site: <%= link_to "#{@page.site.title}", admin_site_path(@page.site) %></strong><br/>
          <strong><%= link_to "add snippet", new_admin_site_page_snippet_path(params[:site_id], @page) %></strong></p>
      </div>
      <div class='bd legend'>
        <p>
          <ul>
            <% @page.page_snippets.each do |snippet| -%>
            <li>Snippet: <%= snippet.content %> <%= link_to 'Edit', edit_admin_site_page_snippet_path(params[:site_id], @page, snippet) %></li>
            <% end -%>
          </ul>
        </p>
      </div>
      <div class='ft'>
        <p>
          <%= link_to 'Edit', edit_admin_site_page_path(params[:site_id], @page) %> |
          <%= link_to 'Back', admin_site_path(params[:site_id]) %>
        </p>
      </div>
    </div>
    <b class='bottom'>
      <b class='bl'></b>
      <b class='br'></b>
    </b>
  </div>
</div>
