<%= form_for([:admin, :site, @snippet]) do |f| %>
  <% if @snippet.errors.any? %>
    <div id="error_explanation">
      <div class='error'>
        <span class='padLft10'><%= pluralize(@snippet.errors.count, "error") %> prohibited this snippet from being saved:</span>

        <ul class='simpleList'>
        <% @snippet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ref %><br />
    <%= f.text_field :ref %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :page_id %><br/>
    <%= f.select :page_id, collect_pages(@site), :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <br/>
<% end %>
