<h1>Listing snippets</h1>

<table>
  <tr>
    <th>Ref</th>
    <th>Content</th>
    <th>Page</th>
    <th></th>
    <th></th>
  </tr>

<% @snippets.each do |snippet| %>
  <tr>
    <td><%= snippet.ref %></td>
    <td><%= snippet.content %></td>
    <td><%= snippet.page_id %></td>
    <td><%= link_to 'Edit', edit_admin_snippet_path(snippet) %></td>
    <td><%= link_to 'Destroy', admin_snippet_path(snippet), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Snippet', new_admin_snippet_path %>
