<p id="notice"><%= notice %></p>

<div class='unit size2of3'>
  <div class='mod bigPic complex flow'>
    <b class='top'>
      <b class='tl'></b>
      <b class='tr'></b>
    </b>
    <div class='inner'>
      <div class='hd section'>
        <h2>
          <%= @site.title %>
        </h2>
        <p><strong><%= link_to "#{@site.domain}", "http://#{@site.domain}" %></strong></p>
      </div>
      <div class='bd legend'>
        <p>
          <%= @site.notes %>
        </p>
      </div>
      <div class='ft'>
        <p>
          <%= link_to 'Edit', edit_admin_site_path(@site) %> |
          <%= link_to 'Back', admin_sites_path %>
        </p>
      </div>
    </div>
    <b class='bottom'>
      <b class='bl'></b>
      <b class='br'></b>
    </b>
  </div>
</div>

