<p id="notice"><%= notice %></p>

<div class='unit size2of3'>
  <div class='mod bigPic complex flow'>
    <b class='top'>
      <b class='tl'></b>
      <b class='tr'></b>
    </b>
    <div class='inner'>
      <div class='hd section'>
        <h2>
          <%= @site.title %>:  <strong><%= link_to "#{@site.domain}", "http://#{@site.domain}" %></strong>
        </h2>
      </div>
      <div class='bd legend'>
        <p>
          <%= @site.notes %>
        </p>
        <p>
          <h4>Header</h4>
          <ul>
            <% header = @site.header_snippet -%>
            <li><%= link_to "#{header.type}", admin_snippet_path(header) %></li>
          </ul>
          <h4>Pages</h4>
          <ul>
            <% @site.pages.each do |page| -%>
            <li>Page<%= mark_default(page) %>: <%= link_to "#{page.title}: #{page.template}", admin_page_path(page) %></li>
            <% end -%>
          </ul>
          <h4>Footer</h4>
          <ul>
            <% footer = @site.footer_snippet -%>
            <li><%= link_to "#{footer.type}", admin_snippet_path(footer) %></li>
          </ul>
        </p>
      </div>
      <div class='ft'>
        <p>
          <%= link_to 'Edit', edit_admin_site_path(@site) %> |
          <%= link_to 'Back', admin_sites_path %>
        </p>
      </div>
    </div>
    <b class='bottom'>
      <b class='bl'></b>
      <b class='br'></b>
    </b>
  </div>
</div>

